body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.game {
  text-align: center;
}

.military {
  width: 100%;
  height: 50px;
  text-align: center;
}

.science {
  width: 100%;
  height: 50px;
  text-align: center;
}

.card {
  width: 16%;
  height: 120px;
  position: absolute;
  background-color: #fafafa;
}

.card:hover {
  background-color: yellow;
}
 
.game-board {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 550px
}